<!doctype html>
<html>
<head>
  <title>Situation Room Dashboard</title>
  <style type="text/css">
  @import url('/stylesheets/application.css');
  </style>
  <script type="text/javascript" src="/javascripts/libs/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/libs/moment.min.js"></script>
  <script type="text/javascript" src="/javascripts/libs/moment-timezone.min.js"></script>
  <script type="text/javascript" src="/javascripts/libs/moment-timezone-data.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="/javascripts/clock.js"></script>
  <script type="text/javascript" src="/javascripts/group.js"></script>
</head>
<body>

  <%= yield %>

</body>
</html>
