<!doctype html>
<html>
<head>
  <title>Situation Room</title>
  <style type="text/css">
  @import url('/stylesheets/application.css');
  </style>

  <meta name="viewport" content="width=device-width">
</head>
<body>

  <header>
    <div class="wrap">
      <h1>Meeting rooms</h1>
      <nav>
        <a href="/dashboards">Dashboard view</a>
      </nav>
    </div>
  </header>

  <div class="wrap">
    <main>
      <%= yield %>
    </main>
  </div>

</body>
</html>
