body {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

a, a:visited { color: #3b9bb8; text-decoration: none; }
a:hover, a:active { color: #155568; }

.wrap {
  width: 960px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  position: relative;
  overflow: auto;
  background: #fafafa;
}

header h1 {
  font-size: 26px;
  font-weight: normal;
  float: left;
}

header nav {
  float: right;
  font-size: 14px;
  margin-top: 6px;
}

main {
  width: 960px;
}
